input[type=range] {
    border: none !important;
}

.pirContent {
    padding: 20px;
}

#mainMenu{
    padding-top: 10px;
    position: fixed;
    z-index: 1000;
}

main {
    margin-top: 0;
    padding-top: 60px;
}