input[type=range] {
    border: none !important;
}

.pirContent {
    padding: 20px;
}

#mainMenu{
    padding-top: 10px;
    position: fixed;
    z-index: 1000;
}

main {
    margin-top: 0;
    padding-top: 60px;
}

.landscape {
    display: none;
}

.portrait {
    display: block;
}

.radioWrap {
    text-align: center;
}

.temperatureGraph {
    margin-left: -20px !important;
    margin-right: -20px !important;
}

@media only screen and (max-device-width: 600px) and (orientation:landscape) {
    .landscape {
        display: block;
    }
    .portrait {
        display: none;
    }
    main {
        padding-top: 0px;
    }
}